

<h4 style="text-align: center;text-transform: none;"> Find your company:</h4>
<form style="text-align: center;text-transform: none;">
Enter desired Company ID : <input type="text" value="ID" ng-model="get1.id" required="required"><br/>
<input type="button" value="submit" ng-click="get1.getCompany(get1.id)" class="button">
</form>
<div ng-show="get1.found" style="color:green">
<table border=1 style="margin: auto;">

<tr>
<th>Company Id</th>
<th>Company Name</th>
<th>Company Password</th>
<th>Company Email</th>
</tr>
<tr>
<td>{{get1.company.id}}</td>
<td>{{get1.company.compName}}</td>
<td>{{get1.company.password}}</td>
<td>{{get1.company.email}}</td>
</tr>
</table>
</div>

<p ng-show="get1.notFound" style="color:red; margin-left:2%; text-align: center;">
{{get1.errorMessage}}
</p>


